@import '../../styles/variables.scss';

.collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: $white;
  background-color: $light-red;

  @media (max-width: 750px) {
    padding: 2px 10px 2px 10px;
  }
}

.collapse-title-h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  @media (max-width: 750px) {
    font-size: 13px;
  }
}

.small {
  font-size: 18px;
  @media (max-width: 750px) {
    font-size: 13px;
  }
}

.collapse-title-btn {
  transition: transform 0.3s ease-in-out;
  height: 100%;
  cursor: pointer;
  @media (max-width: 750px) {
    width: 27px;
  }
}

.rotate-btn {
  transform: rotate(-180deg);
}

.collapse-content {
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.collapse-text-content {
  text-align: left;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 0;
  padding: 20px;
  background-color: $grey-light;
  @media (max-width: 750px) {
    font-size: 12px;
    padding: 10px;
  }
}

.collapse-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $grey-light;
  border-radius: 5px;
  padding: 20px;
  @media (max-width: 750px) {
    padding: 10px;
  }
}

.collapse-list-content {
  border-radius: 5px;
  font-size: 18px;
  @media (max-width: 750px) {
    font-size: 12px;
  }
}
