@import '../../styles/variables.scss';

.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-red;
}

.error-title {
  font-size: 288px;
  font-weight: 700;
  margin: 85px 0 139px 0;
}

.error-text {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.error-text-link {
  font-size: 18px;
  font-weight: 500;
  color: $black;
  text-decoration: underline;
  margin: 139px;
}
